<% layout('layouts/boilerplate.ejs') %>

<div class="mb-3 container">
    <h1>ADD Guest to Project</h1>
</div>
<form action="/projects/<%= id %>/guest" method="POST">
    <div class="container">
        <div class="mb-3">
            <label for="username" class="form-label">Guest Developer Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div>
        <!-- <h3>Add Team Members</h3>
        <div class="mb-3">
            <label for="mem1">Member 1</label>
            <input type="text" name="mem1" id="team" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="mem2">Member 2</label>
            <input type="text" name="mem2" id="team" placeholder="username">
        </div>
        <div class="mb-3">
            <label for="mem3">Member 3</label>
            <input type="text" name="mem3" id="team" placeholder="username">
        </div> -->
    </div>
        <button type="submit" class="btn btn-success">Create Project</button>
    </div>
</form>
