<% layout('layouts/boilerplate.ejs') %>

    <div class="mb-3 container">
        <h1>Make a New User</h1>
    </div>
    <form action="/users" method="POST">
        <div class="container">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control"  id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="isAdmin" class="form-label">Admin?</label>
                <input type="text" class="form-control"  id="isAdmin" name="isAdmin" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control"  id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control"  id="password" name="password" required>
            </div>
            

            <button type="submit" class="btn btn-success">Create Account</button>
        </div>
    </form>